/*
Copyright JL Hoover
*/
* {
    box-sizing: border-box;
    text-align: center;
    font-family: 'Lato', sans-serif;
    color: #505050;
    text-decoration: none;

}

    /* =-=-=-=-=-=-=-=-=-=-= HEADER =-=-=-=-=-=-=-=-=-= */

header {
    background-color: #fafafa;
}

header img {
    max-width: 65%;
    padding-top: 1.5em;
}

header p {
    font-weight: 100;
    color: lightslategrey;
    padding-bottom: 1em;
    margin-left: 1em;
    margin-right: 1em;
}

h1 {
    padding-top: 1em;
    font-size: 1.6em;
    color: #606060
}

.top-nav ul {
    padding-left: 1em;
    font-size: 14px;
    width: 95%;
}

.top-nav li {
    list-style: none;
    text-transform: uppercase;
    background-color: white;
    margin-bottom: 5px;
    padding: 10px;
    font-weight: 800;
}

a:hover {
    color: darkorange;
}

    /* =-=-=-=-=-=-=-=-=-= Portfolio =-=-=-=-=-=-=-=-=-= */

h2 {
    font-size: .9em;
    text-transform: uppercase;
    padding-bottom: 2em;
    padding-top: 1.5em;
}

img {
    max-width: 95%;
    margin-top: 1em;
}

h3 {
    font-weight: normal;
    margin-top: 1.5em;
    margin-bottom: .5em;
}

p {
    line-height: 1.5;
    font-weight: 100;
    padding-left: 1em;
    padding-right: 1em;
}

    /* =-=-=-=-=-=-=-=-=-= Footer =-=-=-=-=-=-=-=-=-= */

footer {
    background-color: #fafafa;
}

h4 {
    margin-top: 48px;
    padding-top: 48px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
}

footer p {
    padding-left: 0;
    padding-right: 0;
}

.phoneAndEmail {
    font-weight: bold;
    color: #808080;
    padding-left: 1em;
}

.ruler {
    border: .5px solid lightgrey;
    width: 90%;
    margin-top: 6em;
}

.bottom-name {
    font-size: .8em;
    float: left;
    padding: 0;
    background-color: white;
}

.btt {
    font-size: .8em;
    float: right;
    padding: 0;
    margin-right: 16px
}

.bottom-nav li {
    color: #606060;
    background-color: #fafafa;
    font-weight: bold;
    text-transform: none;
    margin-top: 1em;
    margin-bottom: 2em;
    list-style: none;
    margin-left: -12px;
}

.bottom-nav768 {
    display: none;
}

/* =-=-=-=-=-=-=-=-=-= Media Queries =-=-=-=-=-=-=-=-=-= */

@media (min-width: 768px) {

    /* =-=-=-=-=-=-=-=-=-= Header =-=-=-=-=-=-=-=-=-= */

    .top-nav1024 {
        background-color: #505050;
    }

    h1 {
        color: #fafafa;
    }

    .top-nav ul {
        display: flex;
        margin-left: auto ;
        margin-right: auto;
        width: 335px;
        justify-content: space-around;
    }

    .top-nav li {background-color: #505050}

    li a {color: #fafafa;}

    .profile {
        display: flex;
        flex-direction: row-reverse;
    }

    .profile img {
        max-width: 50%;
        padding-top: 0;
        padding-right: 31px;
        height: 190px;
        margin-bottom: 48px;
    }

    header p {
        text-align: left;
        font-size: 18px;
    }

    /* =-=-=-=-=-=-=-=-=-= Portfolio =-=-=-=-=-=-=-=-=-= */

    .portfolio-wrapper {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .col-left {
        float: left;
        width: 50%;
    }

    .col-right {
        float: right;
        width: 50%;
    }

    img {
        max-width: 95%;
    }

    p {
        font-weight: normal;
        color: #909090;
    }

    /* =-=-=-=-=-=-=-=-=-= Footer =-=-=-=-=-=-=-=-=-= */

    footer {background-color: #505050;}

    #contact {
        color: #fafafa;
    }

    footer p {
        font-size: 1.2em;
        font-weight: 100;
        margin-left: 144px;;
        margin-right: 144px;
    }

    .bottom-nav {
        display: none;
    }

    .bottom-nav768 {
        display: flex;
        justify-content: space-around;
        list-style: none;
        padding-bottom: 40px;
    }

    .bottom-name768 {
        font-size: 1em;
        font-weight: bold;
        margin-left: 40px;
        margin-right: auto;

        margin-bottom: 0;
        margin-top: 14px;
    }

    .bottom-nav768 li {
        font-size: .8em;
        text-transform: uppercase;
        font-weight: bold;
        padding-left: 24px;
        margin: 0;

    }

    .bottom-nav768 li:last-child {
        padding-right: 45px;
    }

    .clearfix {
        content: "";
        clear: both;
        display: table;
        width: 100%;
    }

    div[class*="col-"] {
        margin: auto 0;
    }
}

/* =-=-=-=-=-=-=-=-=-=-=-=- 1024 =-=-=-=-=-=-=-=-=-=-= */
/* =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
 */
@media (min-width: 1024px) {

    /* =-=-=-=-=-=-=-=-=-= Header =-=-=-=-=-=-=-=-=-= */

    .top-nav1024 {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }

    .profile img {
        height: 217px;
        margin-bottom: 48px;
    }

    .profile p {
        margin-right:12px;
        font-size: 1.3em;
    }

    h1 {
        margin-left: 1.3em;
        text-align: left;
    }

    /* =-=-=-=-=-=-=-=-=-= Portfolio =-=-=-=-=-=-=-=-=-= */

    .portfolio-wrapper {
        margin: auto;
    }

    .col-left1024 {
        float: left;
        width: 33%;
    }

    .col-mid1024 {
        float: left;
        width: 33%;
    }

    .col-right1024 {
        float: right;
        width: 33%;
    }

    /* =-=-=-=-=-=-=-=-=-= Footer =-=-=-=-=-=-=-=-=-= */

    #contact {
        font-size: .8em;
    }

    footer p {
        font-size: 1.2em;
        font-weight: 100;
        margin-left: 64px;;
        margin-right: 64px;
    }

    .contact-blurb {
        padding-left:0px;
        padding-left: 208px;
        padding-right: 208px;
        padding-bottom: 32px;
    }

    .phoneAndEmail {
        font-weight: bold;
        color: #808080;
        padding-left: 1em;
        line-height: 1em;
        letter-spacing: .5px;
    }

    .bottom-nav768 {
        display: flex;
        justify-content: space-around;
        list-style: none;
        padding-bottom: 12px;
    }

    .bottom-name768 {
        font-size: .9em;
        font-weight: bold;
        margin-left: 48px;
        margin-bottom: 0;
    }

    .bottom-nav768 ul {
        margin-right: 36px;
    }

    .bottom-nav768 li {
        font-size: .8em;
        padding-right: 12px;
    }

    .bottom-nav768 li:last-child {
        margin-right: -24px;
    }

    .clearfix {
        content: "";
        clear: both;
        display: table;
        width: 100%;
    }

    div[class*="col-"] {
        margin: auto 0;
    }
}